@font-face {
  font-family: "MiFuente";
  src: url("../../public/amsterdam-four.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.logo-pelota {
  width: 300px;
  /* Tamaño predeterminado */
  height: auto;
}

@media (max-width: 768px) {
  .logo-pelota {
    display: none;
    /* Ocultar en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .homepage-section {
    padding-top: 20%;
    /* Ajusta el espacio superior */
  }
}