@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin daisyui;

#neutro

:root {
  font-family: "Poppins", sans-serif;
  --neutro: #383735;
  --primario: #4AC0E4;
  --blanco: #FFFFFF; 
  --gris: rgb(233, 233, 233);
}
